.task {
  width: clamp(300px, 80%, 800px);
  background-color: hsl(0, 0%, 35%);
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.checker {
  width: 1.5rem;
  height: 1.5rem;
  background-color: hsl(0, 0%, 10%);
  margin: 10px;
}
