.wrapper {
  width: clamp(300px, 80%, 800px);
  margin: 1rem auto;
}

.task-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-input-field {
  width: 90%;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 5px;
  border: 0;
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 90%);
}

.task-input-field:focus {
  outline: 1px solid hsl(0, 0%, 80%);
}

.add-button {
  width: clamp(60px, 10%, 100px);
  font-size: 1rem;
  padding: 1rem;
  border-radius: 5px;
  border: 0;
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 90%);
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.add-button:hover {
  background-color: hsl(0, 0%, 30%);
  color: hsl(0, 0%, 100%);
}
